:root {
    --primary-color: #001b6c;
    --secondary-color:white;
    --tertiary-color: rgba(0, 0, 0, 0.652);
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.logoleft{
    width: 10rem;
}
.navright{
    display: flex;
}
.logoright{
    width: 10rem;
}
@media screen and (max-width:680px){
    .navbar{
        margin-bottom: 1rem;
    }
    .navright p{
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .logoleft{
        width: 5rem;
    }
    .logoright{
        width: 10rem;
    }
}