<div class="signup">
    <p class="signupheading">Register your business</p>
    <p class="signupsubheading">With Hippo</p>
    <input type="text" class="signupoption" placeholder="Buisness Name">
    <input type="text" class="signupoption" placeholder="User Name">
    <input type="email" class="signupoption" placeholder="Email Id">
    <input type="number" class="signupoption" placeholder="Mobile Number">
    <input type="password" class="signupoption" placeholder="Password">
    <div class="tandc"><input type="checkbox" name="" id="" class="checkbox"><p>I agree to the </p><p class="tandclink"><a href="">Terms and Conditions</a></p></div>
    <div class="buttonsection">
        <button type="button" class="btn btn-primary submitbutton" mdbRipple>Sign up</button>
        <div class="togglelogin">
            <p>have an account?</p>
            <button routerLink="/login">Login</button>
        </div>
    </div>
</div>
