:root {
    --primary-color: #001b6c;
    --secondary-color:white;
    --tertiary-color: rgba(0, 0, 0, 0.652);
  }
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-heading{
    font-size: 2.2rem;
    margin: 0;
    color: var(--primary-color);
}
.signup-subheading{
    color:var(--tertiary-color)
}
.signup-option{
    padding: 0.2rem;
    padding-left: 1rem;
    margin: 0.4rem;
    width: 20rem;
    height: 2rem;
}
.button-section{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit-button{
    width: 18rem;
    height: 2.5rem;
}
.toggle-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.toggle-login p{
    margin: 0.5rem;
    columns: var(--primary-color);
}
.toggle-login button{
    background-color:transparent;
    color:var(--primary-color);
    border: none;
    font-weight: 600;
}
.t-and-c{
    display: flex;
    color:var(--tertiary-color);
}
.t-and-c input{
    margin-bottom: 0.7rem;
    margin-right: 0.4rem;
}
a , .tandclink{
    text-decoration: none;
    margin-left: 0.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
