<div class="signup">
    <p class="signup-heading">Register your business</p>
    <p class="signup-subheading">With Hippo</p>
    <input type="text" class="signup-option" placeholder="Buisness Name">
    <input type="text" class="signup-option" placeholder="User Name">
    <input type="email" class="signup-option" placeholder="Email Id">
    <input type="number" class="signup-option" placeholder="Mobile Number">
    <input type="password" class="signup-option" placeholder="Password">
    <div class="t-and-c"><input type="checkbox" name="" id="" class="checkbox"><p>I agree to the </p><p class="tandclink"><a href="">Terms and Conditions</a></p></div>
    <div class="buttonsection">
        <button type="button" class="btn btn-primary submit-button" mdbRipple>Sign up</button>
        <div class="toggle-login">
            <p>have an account?</p>
            <button routerLink="/login">Login</button>
        </div>
    </div>
</div>
