:root {
    --primary-color: #001b6c;
    --secondary-color:white;
    --tertiary-color: rgba(0, 0, 0, 0.652);
  }
body{
    background: url('https://hippochat.io/en/assets/images/bitmap.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.submitbutton{
    width: 21rem;
    height: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.2rem;
    font-size: 1.2rem;
}
.togglelogin button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.4rem;
    border-radius: 0.2rem;
}