:root {
    --primary-color: #001b6c;
    --secondary-color:white;
    --tertiary-color: rgba(0, 0, 0, 0.652);
  }
body{
    background: url('https://hippochat.io/en/assets/images/bitmap.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}